@font-face {
  font-family: 'Anakotmai-medium';
  src: url('font/Anakotmai-Medium.ttf');
}

body {
  margin: 0;
  font-family: "Anakotmai-medium";
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  /* background-image: -moz-linear-gradient(#5454C5,#639CD9);
  background-color: #5454C5; */
  background: rgb(84,84,197);
  background: linear-gradient(180deg, rgba(84,84,197,1) 0%, rgb(77, 180, 248) 100%);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 200vh;
  background-image: url(images/460afaf1c65be4dfa6b73256b0a75f8a.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; 
}


.container{
  
}

.container-header {
  margin: auto;
  max-width: auto;
}


.tabHeader{
  margin: auto;
  max-width: aut;
}

.header-bar{
  background-color: #434394;
  border-radius: 0rem 0rem 1.35rem 1.35rem;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  /* border-color: #0d6efd; */
}

.btn-SmartJob {
  margin-right: 40rem;
  color: #fff;
  background-color: #434394;
  border-radius: 20px;
  font-size: 2rem;
  margin-top: 100px;
  margin-left: 10px;
}

.btn-createJobs-addUser {
  margin-right: 1.45rem;
  color: #fff;
  background-color: #434394;
  border-radius: 20px;
  font-size: 1rem;
  padding: .5rem 1.35rem ;
  margin-top: 100px;
}

.content-boxBlack {
  background-color: #10121485;
  border-radius: 20px 20px 0px 0px;
  padding: 30px 0px 20px 0px;
  margin-top: -30px;
}

.content-boxWhite {
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
  padding: 30px ;
  margin-top: -30px;
}
.content-boxWhite2 {
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
  padding: 0px 30px 10px 30px;
}

.content-boxWork{
  background-color: #D3D3D3;
  border-radius: 50px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  cursor: pointer;
}

.col-heading{
  margin: 15px 45px 0px 25px;
  height: 70px;
  width: 300px;
  background-color:#fff;
  border-radius: 20px 20px 0px 0px;
  font-size: 1.75rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: .5rem 0.45rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-label {
  margin-bottom: 0.5rem;
}
/*------------*/
.col-work {
  cursor: pointer;
  margin: 15px;
  display: block;
  height: 50px; 
  padding: 15px;
  background-color: #dadada;
  border-radius: 20px;
  width: 1250px;
}
.modal-dialog-centered {
  min-height: auto;
  align-items: center;
  max-height: calc(100% - 700px);
}

.modal-dialog {
  max-width: 100%;
  margin: 10rem 10rem 0rem 10rem;
}

.modal-header{
  border-bottom:none; 
}

.modal-footer{
  border-top:none; 
}

.modal-content{
  border-radius: 40px;
  padding: 1.1rem;
  background-color: #dbdbdb;
}

.modal-body{
  text-align: center;
  max-height:100%; 
}
.work-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media only screen and (min-width: 768px) {
  .work-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/*----------*/

.col-user {
  cursor: pointer;
  margin: 0px 15px 15px 15px;
  display: block;
  width: 500px;
  height: 100px; 
  padding: 30px;
  background-color: #BEBEBE;
  border-radius: 30px;
}

.content-search {
  background-color: #10121485;
  border-radius: 50px;
  padding: 30px;
  margin-top: 70px;
}
.box{
  padding: 10px; 
  border-radius: 0.5rem solid; 
  background-color: rgb(228, 228, 228);
  margin: 0;
}
