.e55_324 {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 1080px;
    position: absolute;
}

.e131_166 {
    width: 1920px;
    height: 152px;
    position: absolute;
    left: 0px;
    top: -52px;
}

.e59_149 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 219.2362430691719, 92.43750303983688, 1);
    width: 1920px;
    height: 152px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_113 {
    color: rgba(0, 0, 0, 1);
    width: 364px;
    height: 72px;
    position: absolute;
    left: 778px;
    top: 62px;
    font-family: Share Tech;
    text-align: left;
    font-size: 64px;
    letter-spacing: 0;
}

.e59_153 {
    width: 82px;
    height: 82px;
    position: absolute;
    left: 15px;
    top: 61px;
}

.e59_154 {
    background-color: rgba(249.6875050663948, 194.5417633652687, 0, 0.8799999952316284);
    width: 82px;
    height: 82px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 20px;
}

.e59_155 {
    background-color: rgba(255, 255, 255, 1);
    width: 61.5px;
    height: 41px;
    position: absolute;
    left: 10.25px;
    top: 20.5px;
}

.e59_156 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 266px;
    height: 83px;
    position: absolute;
    left: 108px;
    top: 0px;
    background-image: url(images/meit2_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e59_157 {
    width: 160.84512329101562px;
    height: 80.49295806884766px;
    position: absolute;
    left: 1735px;
    top: 10px;
}

.e59_158 {
    border-radius: 500px;
    background-color: rgba(84.00000259280205, 84.00000259280205, 197.0000034570694, 1);
    width: 62.60563278198242px;
    height: 62.60563278198242px;
    position: absolute;
    left: 7.8944091796875px;
    top: 8.838027954101562px;
}

.e59_160 {
    width: 64.39436340332031px;
    height: 64.39436340332031px;
    position: absolute;
    left: 8px;
    top: 7px;
    border-top-left-radius: 256px;
    border-top-right-radius: 256px;
    border-bottom-left-radius: 256px;
    border-bottom-right-radius: 256px;
    background-image: url(images/man__3__2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e59_161 {
    width: 80.49295806884766px;
    height: 80.49295806884766px;
    position: absolute;
    left: 80.3521728515625px;
    top: 0px;
}

.e59_162 {
    background-color: rgba(255, 255, 255, 1);
    width: 40.246482849121094px;
    height: 24.85220718383789px;
    position: absolute;
    left: 20.123239517211914px;
    top: 28.809772491455078px;
}

.e59_163 {
    width: 80.49295806884766px;
    height: 80.49295806884766px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e59_167 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.e59_218 {
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 207px;
    top: 174px;
}

.e59_168 {
    background-color: rgba(255, 219.2362430691719, 92.43750303983688, 1);
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e59_206 {
    background-color: rgba(255, 255, 255, 1);
    width: 440.9325256347656px;
    height: 310.46807861328125px;
    position: absolute;
    left: 12.502803802490234px;
    top: 10.510640144348145px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e59_207 {
    background-color: rgba(255, 255, 255, 1);
    width: 154.20135498046875px;
    height: 46.89361572265625px;
    position: absolute;
    left: 155.86837768554688px;
    top: 326.6382751464844px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e59_209 {
    color: rgba(0, 0, 0, 1);
    width: 94.18785095214844px;
    height: 33.1489372253418px;
    position: absolute;
    left: 195px;
    top: 337px;
    font-family: Share Tech;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e61_66 {
    color: rgba(0, 0, 0, 1);
    width: 220px;
    height: 58px;
    position: absolute;
    left: 132px;
    top: 45px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_72 {
    color: rgba(0, 0, 0, 1);
    width: 66px;
    height: 58px;
    position: absolute;
    left: 200px;
    top: 253px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_67 {
    color: rgba(0, 0, 0, 1);
    width: 208px;
    height: 134px;
    position: absolute;
    left: 129px;
    top: 103px;
    font-family: Share Tech;
    text-align: left;
    font-size: 144px;
    letter-spacing: 0;
}

.e61_73 {
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 714px;
    top: 174px;
}

.e61_74 {
    background-color: rgba(255, 219.2362430691719, 92.43750303983688, 1);
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_75 {
    background-color: rgba(255, 255, 255, 1);
    width: 440.9325256347656px;
    height: 310.46807861328125px;
    position: absolute;
    left: 12.5028076171875px;
    top: 10.510639190673828px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_76 {
    background-color: rgba(255, 255, 255, 1);
    width: 154.20135498046875px;
    height: 46.89361572265625px;
    position: absolute;
    left: 155.868408203125px;
    top: 326.6382751464844px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_77 {
    color: rgba(0, 0, 0, 1);
    width: 94.18785095214844px;
    height: 33.1489372253418px;
    position: absolute;
    left: 195px;
    top: 337px;
    font-family: Share Tech;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e61_78 {
    color: rgba(0, 0, 0, 1);
    width: 152px;
    height: 58px;
    position: absolute;
    left: 166px;
    top: 45px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_79 {
    color: rgba(0, 0, 0, 1);
    width: 66px;
    height: 58px;
    position: absolute;
    left: 200px;
    top: 253px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_80 {
    color: rgba(0, 0, 0, 1);
    width: 208px;
    height: 134px;
    position: absolute;
    left: 129px;
    top: 103px;
    font-family: Share Tech;
    text-align: left;
    font-size: 144px;
    letter-spacing: 0;
}

.e61_81 {
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 1223px;
    top: 174px;
}

.e61_82 {
    background-color: rgba(255, 219.2362430691719, 92.43750303983688, 1);
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_83 {
    background-color: rgba(255, 255, 255, 1);
    width: 440.9325256347656px;
    height: 310.46807861328125px;
    position: absolute;
    left: 12.5028076171875px;
    top: 10.510640144348145px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_86 {
    color: rgba(0, 0, 0, 1);
    width: 249px;
    height: 58px;
    position: absolute;
    left: 117px;
    top: 45px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_87 {
    color: rgba(0, 0, 0, 1);
    width: 66px;
    height: 58px;
    position: absolute;
    left: 200px;
    top: 253px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_88 {
    color: rgba(0, 0, 0, 1);
    width: 208px;
    height: 134px;
    position: absolute;
    left: 129px;
    top: 103px;
    font-family: Share Tech;
    text-align: left;
    font-size: 144px;
    letter-spacing: 0;
}

.e61_89 {
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 207px;
    top: 573px;
}

.e61_90 {
    background-color: rgba(255, 219.2362430691719, 92.43750303983688, 1);
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_91 {
    background-color: rgba(255, 255, 255, 1);
    width: 440.9325256347656px;
    height: 310.46807861328125px;
    position: absolute;
    left: 12.502803802490234px;
    top: 10.510639190673828px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_92 {
    background-color: rgba(255, 255, 255, 1);
    width: 154.20135498046875px;
    height: 46.89361572265625px;
    position: absolute;
    left: 155.86837768554688px;
    top: 326.6382751464844px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_93 {
    color: rgba(0, 0, 0, 1);
    width: 94.18785095214844px;
    height: 33.1489372253418px;
    position: absolute;
    left: 195px;
    top: 337px;
    font-family: Share Tech;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e61_94 {
    color: rgba(0, 0, 0, 1);
    width: 351px;
    height: 58px;
    position: absolute;
    left: 58px;
    top: 38px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_95 {
    color: rgba(0, 0, 0, 1);
    width: 89px;
    height: 58px;
    position: absolute;
    left: 189px;
    top: 253px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_96 {
    color: rgba(0, 0, 0, 1);
    width: 208px;
    height: 134px;
    position: absolute;
    left: 129px;
    top: 103px;
    font-family: Share Tech;
    text-align: left;
    font-size: 144px;
    letter-spacing: 0;
}

.e61_97 {
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 714px;
    top: 573px;
}

.e61_98 {
    background-color: rgba(255, 219.2362430691719, 92.43750303983688, 1);
    width: 466.77166748046875px;
    height: 380px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_99 {
    background-color: rgba(255, 255, 255, 1);
    width: 440.9325256347656px;
    height: 310.46807861328125px;
    position: absolute;
    left: 12.502803802490234px;
    top: 10.510639190673828px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_100 {
    background-color: rgba(255, 255, 255, 1);
    width: 154.20135498046875px;
    height: 46.89361572265625px;
    position: absolute;
    left: 155.86837768554688px;
    top: 326.6382751464844px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e61_101 {
    color: rgba(0, 0, 0, 1);
    width: 94.18785095214844px;
    height: 33.1489372253418px;
    position: absolute;
    left: 195px;
    top: 337px;
    font-family: Share Tech;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e61_102 {
    color: rgba(0, 0, 0, 1);
    width: 185px;
    height: 71px;
    position: absolute;
    left: 141px;
    top: 38px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_103 {
    color: rgba(0, 0, 0, 1);
    width: 89px;
    height: 58px;
    position: absolute;
    left: 200px;
    top: 253px;
    font-family: Share Tech;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e61_104 {
    color: rgba(0, 0, 0, 1);
    width: 208px;
    height: 134px;
    position: absolute;
    left: 129px;
    top: 103px;
    font-family: Share Tech;
    text-align: left;
    font-size: 144px;
    letter-spacing: 0;
}