@font-face {
    font-family: 'Anakotmai-medium';
    src: url('../font/Anakotmai-Medium.ttf');
}

body {
    margin: 0;
    font-family: "Anakotmai-medium";
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    /* background-image: -moz-linear-gradient(#5454C5,#639CD9);
  background-color: #5454C5; */
    background: rgb(84, 84, 197);
    background: linear-gradient(180deg, rgba(84, 84, 197, 1) 0%, rgb(77, 180, 248) 100%);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/91.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content-search {
    background-color: #101214b6;
    border-radius: 50px;
    padding: 35px;
    margin-top: 80px;
    /* box-shadow: 7px 7px 7px rgb(0 0 0 / 36%); */
}

.chat-screen {
    background-color: #101214b6;
    border-radius: 0px 0px 30px 30px;
}

.container-header {
    margin: auto;
    max-width: auto;
}


/* .search-work {
  padding-left: 50px;
  padding-right: 50px;
} */

.header-bar {
    background-color: #434394;
    border-radius: 0rem 0rem 1.35rem 1.35rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    color: white;
}

@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 1.5rem;
        font-style: normal;
    }
}

h2,
.h2 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    color: white;
}

@media (min-width: 1200px) {
    h2,
    .h2 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h6,
.h6 {
    font-size: 1rem;
    color: white;
    font-size: 1.75rem;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    /* border-color: #0d6efd; */
}

.btn-primary-chat {
    color: #fff;
    background-color: #A2C1FE;
    border-radius: 30px;
    font-size: 25px;
    padding: 12px 50px;
}

.btn-primary-search {
    margin-right: 1.45rem;
    color: #fff;
    background-color: #A2C1FE;
    border-radius: 20px;
    font-size: 1rem;
    padding: .5rem 1.35rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem 0.45rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-label {
    margin-bottom: 0.5rem;
}

.btn-primary {
    background: rgb(84, 84, 197);
    background: linear-gradient(90deg, rgba(84, 84, 197, 1) 0%, rgb(77, 180, 248) 100%);
}

.col-work {
    cursor: pointer;
    margin: 15px;
    display: block;
    height: 250px;
    padding: 30px;
    background-color: #0b0142;
    border-radius: 30px;
}

.page-header {
    background-image: url('https://i.imgur.com/vEDvmrG.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #090909;
    background-attachment: fixed;
    color: #fff;
    min-height: 50%;
}

.btn-primary {
    border-radius: 10px;
}

.work-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media only screen and (min-width: 768px) {
    .work-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.modal-dialog-centered {
    min-height: auto;
    align-items: center;
    max-height: calc(100% - 700px);
}

.modal-dialog {
    max-width: 100%;
    margin: 10rem 10rem 0rem 10rem;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}


/* .modal-body{

} */

.modal-content {
    border-radius: 40px;
    padding: 1.1rem;
    background-color: #dbdbdb;
}

.modal-body {
    text-align: center;
    max-height: 100%;
}

.form-label {
    font-size: 1.35rem;
    color: #fff;
    margin-top: 1.2rem;
}

.success {
    background-color: #5454C5;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    background: linear-gradient(180deg, rgba(84, 84, 197, 1) 0%, rgb(77, 180, 248) 100%);
    float: left;
    overflow: hidden;
    width: 35%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border-radius: 30px;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}


/* .recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
} */

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    width: 100%;
    padding: 2px 6px 2px 12px;
    background: #ffffff;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 1.2rem;
    color: #000000;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #474747;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    background: #C4C4C4;
}

.inbox_chat {
    height: 553px;
    overflow-y: scroll;
}

.active_chat {
    background: #98CBE8;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 15px;
    color: #000000;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 5px 25px;
    width: 65%;
    max-height: 610px;
}

.sent_msg p {
    background: #A2C1FE none repeat scroll 0 0;
    border-radius: 15px;
    font-size: 14px;
    margin: 0;
    color: rgb(0, 0, 0);
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    display: block;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    min-height: 40px;
    width: 100%;
    border-radius: 30px;
    padding: 10px  10px  10px  25px;
    margin: 4px;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #5454C5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 35px;
}

.messaging {
    padding: 0 0 20px 0;
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}
