@font-face {
    font-family: 'Anakotmai-medium';
    src: url('../font/Anakotmai-Medium.ttf');
}

body {
    margin: 0;
    font-family: "Anakotmai-medium";
    background: linear-gradient(180deg, rgba(84, 84, 197, 1) 0%, rgb(77, 180, 248) 100%);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
    background-image: url('https://i.imgur.com/HJwMY1g.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-screen {
    background-color: #101214b6;
}



.rounded-10 {
  border-radius: 40px;
}

.img-work{
  border-radius: 50%;
}

.chat-screen {
    background-color: #101214b6;
    border-radius: 0px 0px 30px 30px;
}

.container-header {
    margin: auto;
    max-width: auto;
}

.overme {
  
  overflow:hidden; 
  white-space:nowrap;  
  text-overflow: ellipsis;
  
}

.header-bar {
    background-color: #434394;
    border-radius: 0rem 0rem 1.35rem 1.35rem;
    position: sticky; 
    top: 0;  
    height: 65px;
    box-shadow: 7px 7px 7px #0909093d;
}

.admin-bar {
  background-color: rgba(255, 219, 92);
  border-radius: 0rem 0rem 1.35rem 1.35rem;
  position: sticky; 
  top: 0;  
  height: 65px;
  box-shadow: 7px 7px 7px #0909093d;
}

 h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    color: white;
} 

 @media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 1.5rem;
        font-style: normal;
    }
}

h2,
.h2 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    color: rgb(0, 0, 0);
}

@media (min-width: 1200px) {
    h2,
    .h2 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h6,
.h6 {
    font-size: 1rem;
    color: white;
    font-size: 1.75rem;
    text-align: center;
}

button:hover {
  opacity: 0.8;
}

.fs-15 {
  font-size: 1.5rem;
}



.bg-blue-fade {
  background: linear-gradient(180deg, #5454C5 0%, #86b7fe 100%);
}

.bg-green-fade {
  background: linear-gradient(180deg, #1c8812 0%, #5cbe53 100%);
}
.bg-yellow-fade {
  background: linear-gradient(180deg, #eeb61d 0%, #fdf07b 100%);
}

.bg-white-fade {
  background: linear-gradient(0deg, #86b7fe 0%, #ffffff 100%);
}

.bg-gray {
  background:#bbc0c5;
}

.bg-bluesky {
  background: #A2C1FE;
}

.bg-sun {
  background: #eeb61d;
}

.bg-admin {
  background-color: rgba(255, 219, 92);
}

.bg-darkblue{
  background: #0b0142;
}

.rounded-25{
  border-radius: 25px ;
}

.rounded-30{
  border-radius: 30px ;
}



.btn-cancelp {
  border: none;
}

.mt-100{
  margin-top: 120px;
}


.btn-primary-search {
    margin-right: 1.45rem;
    color: #fff;
    background-color: #A2C1FE;
    border-radius: 20px;
    font-size: 1rem;
    padding: .5rem 1.35rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem 0.45rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-label {
    margin-bottom: 0.5rem;
    color: #000000;
}

.gradient{
  background: linear-gradient(90deg, rgba(84, 84, 197, 1) 0%, rgb(77, 180, 248) 100%);
}


.btn-primary {
    border-radius: 10px;
    background: rgb(84, 84, 197);
    border: none;
    background: linear-gradient(90deg, rgba(84, 84, 197, 1) 0%, rgb(77, 180, 248) 100%);
}
.btn-green {
  border-radius: 10px;
  background: rgb(84, 84, 197);
  border: none;
  background: linear-gradient(180deg, #1c8812 0%, #5cbe53 100%);
}
.btn-yellow {
  border-radius: 10px;
  background: rgb(84, 84, 197);
  border: none;
  background: linear-gradient(180deg, #eeb61d 0%, #fdf07b 100%);
}

.btn-cancelp {
  border-radius: 10px;
  background: rgb(197, 84, 84);
  background: linear-gradient(90deg, rgb(235, 25, 25) 0%, rgb(255, 136, 0) 100%);
}

.btn-editp {
  border-radius: 10px;
  background: rgb(255, 204, 38);
  border: none;
}

.btn-cancelg {
  border-radius: 10px;
  background: rgb(231, 60, 60);
  border: none;
}
.col-work {
    cursor: pointer;
    display: block;
    height: 300px;
    background-color: #0b0142;
    border-radius: 30px;
}

.page-header {
    background-image: url('https://i.imgur.com/vEDvmrG.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #090909;
    background-attachment: fixed;
    color: #fff;
    min-height: 50%;
}



.work-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media only screen and (min-width: 768px) {
    .work-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.modal-dialog-centered {
    /* min-height: auto; */
    align-items: center;
    max-height: calc(100% - 700px);
}

.modal-dialog {
    max-width: 100%;
    margin: 10rem 10rem 0rem 10rem;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-content {
    border-radius: 40px;
    padding: 1.1rem;
    background-color: #dbdbdb;
}

.modal-body {
    text-align: center;
    max-height: 100%;
}

.form-label {
    font-size: 1.1rem;
    color: #000000;
}

.success {
    background-color: #5454C5;
}

img {
    max-width: 100%;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

.content-boxWhite2 {
  background-color: #fff;
  border-radius: 0px 0px 30px 30px; 
}


.col-heading {
  border-radius: 20px 20px 0px 0px;
}

.cursor {
cursor: pointer;
}

.shadow-sj{
  box-shadow: 4px 4px 4px #09090980;
}

.shadow-work{
  box-shadow: 7px 7px 7px #090909be;
}
